@model MarksStatistics.Models.MarkStatistic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarkStatistic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AverageMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalStudents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStudents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
